html,
body,
#render-container,
#render-provider,
.render-container,
.render-provider {
  height: 100%;
}
.statusContainer{
  width: 100%;
}
.statusCard{
  padding: '80px';
  color: '#585959';
  background: '#fafafa';
}
.statusTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statusNumbers{
  text-align: center;
}
.statusEmails .container{
	margin-top: 0.67em;
	margin-bottom: 0.8em;
	display: flex;
  flex-wrap: wrap;
  gap: 7px;
	width: 100%;
	max-width: 100%;
}
.statusNotificate{
	margin-top: 0.67em;
  margin-bottom: 2em;
}
.statusNotificate .container{
	display: flex;
  justify-content: space-between;
}
.gridOrders{
  display: grid;
  width: auto;
  grid-template-columns: repeat(2, 50%);
  gap: 0.5rem;
}
